name: Build
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    name: Type Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2.1.2
        with:
          bun-version: 1.3.6
      - run: bun install -g typescript@5
      - run: bun install
      - run: tsc